body {
    background: #333333;
    font-family: 'Press Start 2P', Arial, sans-serif;
    color: #ffffff;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    font-family: 'Press Start 2P', Arial, sans-serif;
    text-transform: uppercase;
}

h1 { font-size: 42px; }
h2 { font-size: 32px; }
h3 { font-size: 18px; }


#game-area {
    width: 1200px;
    height: 800px;
    margin: 0 auto;
}
#header {
    background: #000000;
    height: 80px;
}

#header .view-title, #header .game-title {
    font-size: 42px;
    padding: 10px;
}

#header .view-title {
    float: left;
}

#header .game-title {
    float: right;
}

#sidebar {
    width: 400px;
    height: 800px;
    background: #000000;
    overflow: hidden;
}

#sidebar ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

/** DEV CARD **/

.dev-card {
    position: relative;
    height: 280px;
    width: 140px;
    background: #666666;
    float: left;
    margin: 15px;
    padding: 15px;
}

.dev-hire {
    margin: 126px 59px;
    color: #51d96a;
}
.dev-fire {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #ff371a;
}

.dev-avatar {
    width: 140px;
    height: 140px;
    margin-bottom: 15px;
    background: #444444;
}

.stat {
    list-style: none;
}

.dev-card .stat-name {
    clear: both;
    float: left;
    margin: 0;
}

.dev-card .stat-bar {
    margin: 0;
    float: right;

}