<div class="planning-team">
  <div id="header">
    <h1 class="view-title">Team</h1>
    <h1 class="game-title">{{ gameData.game.name }}</h1>
  </div>
  <div id="content">
    <div id="nav">
      <a href="#" ui-sref="planning.project"><button type="button" class="nav-btn">Project</button></a>
      <button type="button" class="nav-btn disabled">Team</button>
      <a href="#" ui-sref="planning.sprint"><button type="button" class="nav-btn">Sprint</button></a>
    </div>
    <div id="sidebar">
      <ul>
        <li ng-repeat="dev in devsData.devs">
          <devcard index="{{ $index }}" model="dev" type="state" on-fired="onDevFired" on-fired="onDevHired" ng-if="!!dev" on-clicked="onDevClicked"></devcard>
        </li>
      </ul>
      <!-- <ul ng-if="cardState == 'hire'">
        <li ng-repeat="dev in devsData.hireableDevs">
          <div ng-show="dev" ng-click="onDevClicked( dev )">
            <confirmcard index="{{ $index }}" model="dev" on-hire-confirm="onHireableDevHire"></confirmcard>
          </div>
          <div ng-show="!dev">
            <div class="dev-card"></div>
          </div>
        </li>
      </ul> -->
    </div>
    <div id="dev-info">
      <div id="dev-strengths">
        <h3>Strengths</h3>
        <ul>
          <li class="stat dev-strength clearfix">
            <div class="stat-icon fa fa-bug fa-2x"></div>
            <h3 class="stat-name">BUG</h3>
            <div class="stat-bar stat-bar-filled" style="width: {{ selectedDev.getBugStat() / 60 * 240 }}px"></div>
            <div class="stat-bar stat-bar-container"></div>
          </li>
          <li class="stat dev-strength clearfix">
            <div class="stat-icon fa fa-briefcase fa-2x"></div>
            <h3 class="stat-name">EXE</h3>
            <div class="stat-bar stat-bar-filled" style="width: {{ selectedDev.getExecutiveStat() / 60 * 240 }}px"></div>
            <div class="stat-bar stat-bar-container"></div>
          </li>
          <li class="stat dev-strength clearfix">
            <div class="stat-icon fa fa-crosshairs fa-2x"></div>
            <h3 class="stat-name">HRD</h3>
            <div class="stat-bar stat-bar-filled" style="width: {{ selectedDev.getCriticStat() / 60 * 240 }}px"></div>
            <div class="stat-bar stat-bar-container"></div>
          </li>
          <li class="stat dev-strength clearfix">
            <div class="stat-icon fa fa-twitter fa-2x"></div>
            <h3 class="stat-name">CRT</h3>
            <div class="stat-bar stat-bar-filled" style="width: {{ selectedDev.getCasualStat() / 60 * 240 }}px"></div>
            <div class="stat-bar stat-bar-container"></div>
          </li>
          <li class="stat dev-strength clearfix">
            <div class="stat-icon fa fa-mobile fa-2x"></div>
            <h3 class="stat-name">CSL</h3>
            <div class="stat-bar stat-bar-filled" style="width: {{ selectedDev.getExecutiveStat() / 60 * 240 }}px"></div>
            <div class="stat-bar stat-bar-container"></div>
          </li>
          <li class="stat dev-strength clearfix">
            <div class="stat-icon fa fa-sitemap fa-2x"></div>
            <h3 class="stat-name">CLN</h3>
            <div class="stat-bar stat-bar-filled" style="width: {{ selectedDev.getHardcoreStat() / 60 * 240 }}px"></div>
            <div class="stat-bar stat-bar-container"></div>
          </li>
        </ul>
      </div>
      <div id="dev-abilities" >
        <h3 id="dev-name">{{ selectedDev.getName() }}</h3>
        <h2 id="dev-job">{{ selectedDev.getInitialJobName() }}</h2>
        <div ng-repeat="job in jobsData.jobs" class="ability-set ability-{{ job.name | lowercase }}">
          <button ng-repeat="ability in job.abilities" class="ability main-ability" ng-class="{ 'selected': selectedDev.hasAbility( ability.jobName, ability.name ), 'ability-1': $index == 1, 'ability-2': $index == 2, 'disabled': ability.prerequisite != '' && !selectedDev.hasAbility( ability.jobName, ability.prerequisite ) }" ng-click="onAbilityClicked( ability )" data-toggle="popover" title="{{ ability.name }}" data-content="{{ ability.description }}">
            <div class="stat-icon fa {{ job.icon }}"></div>
            <h3 class="ability-name">{{ job.name }}</h3>
          </button>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
