<div id="planning-sprint">
  <div id="header">
    <h1 class="view-title">Sprint</h1>
    <h1 class="game-title">{{ gameData.game.name }}</h1>
  </div>
  <div id="content">
    <!-- This goes on every screen -->
    <div id="nav">
      <a href="#" ui-sref="planning.project"><button type="button" class="nav-btn">Project</button></a>
      <a href="#" ui-sref="planning.team"><button type="button" class="nav-btn">Team</button></a>
      <button class="nav-btn disabled">Sprint</button>
    </div>
    <div ng-repeat="sprint in sprintData.sprints" class="sprint-card sprint-card-{{ $index + 1 }}">
      <h2 class="sprint-title">Door {{ $index + 1 }}</h2>
      <ul>
        <li class="stat sprint-stat">
          <h3 class="stat-name">LEN</h3>
          <div class="stat-bar stat-bar-filled" style="width: {{ sprint.getLength() / 3 * 240 }}px"></div>
          <div class="stat-bar stat-bar-container"></div>
        </li>
        <li class="stat sprint-stat">
          <h3 class="stat-name">DIF</h3>
          <div class="stat-bar stat-bar-filled" style="width: {{ sprint.getDifficulty() / 3 * 240 }}px"></div>
          <div class="stat-bar stat-bar-container"></div>
        </li>
        <li class="stat sprint-stat">
          <h3 class="stat-name">INV</h3>
          <h3 class="stat-bar money">${{ sprint.getInvestment() }}k</h3>
        </li>
        <li class="stat sprint-stat">
          <h3 class="stat-name">PAY</h3>
          <h3 class="stat-bar money">${{ sprint.getPayout() }}k</h3>
        </li>
      </ul>
      <button class="sprint-btn" ng-click="onSprintStartButtonClicked( sprint )">Start!</button>
    </div>
  </div>
</div>