<div id="planning-build">
  <div id="header">
    <h1 class="view-title">Project</h1>
    <h1 class="game-title">{{ gameData.game.name }}</h1>
  </div>
  <div id="content">
    <div id="nav">
      <a href="#" ui-sref="planning.project"><button type="button" class="nav-btn">Back</button></a>
    </div>
    <!-- Milestone Area -->
    <div id="build-milestone-area">
      <h2 class="budget money">${{ gameData.game.getCurrent$$$() }}k</h2>
      <div class="milestone-progress">
        <h2>{{ gameData.game.getPhaseName() }}</h2>
        <h2 class="milestone-progress-text"><span class="milestone-progress-points">{{ funTowardGoal }}</span>/<span class="milestone-progress-total">{{ milestoneFunGoal }}</span></h3>
        <div class="stat-bar stat-bar-filled"></div>
        <div class="stat-bar stat-bar-container"></div>
      </div>
    </div>

    <!-- Features -->
    <div id="features-area">
      <ul>
        <li ng-repeat="feature in featuresData.features" class="feature">
          <div class="feature-job-affinity left">
            <button class="ability main-ability">
            <div class="stat-icon fa {{ feature.affinityIcon }}"></div>
            <h3 class="ability-name">{{ feature.affinity }}</h3>
            </button>
          </div>
          <div class="feature-stats left">
            <h3 class="feature-name">{{ feature.name }}</h3>
            <h3 class="feature-cost money">${{ feature.cost }}k</h3>
            <h3 class="feature-fun fun">FUN {{ feature.fun }}</h3>
          </div>
        </li>
        <!-- <li class="feature">
          <div class="feature-job-affinity left">
            <button class="ability main-ability">
            <div class="stat-icon fa fa-paint-brush"></div>
            <h3 class="ability-name">ART</h3>
            </button>
          </div>
          <div class="feature-stats left">
            <h3 class="feature-name">thisnamecanbe16c</h3>
            <h3 class="feature-cost money">{$20000}</h3>
            <h3 class="feature-fun fun">FUN {400}</h3>
          </div>
        </li>
        <li class="feature">
          <div class="feature-job-affinity left">
            <button class="ability main-ability">
            <div class="stat-icon fa fa-paint-brush"></div>
            <h3 class="ability-name">ART</h3>
            </button>
          </div>
          <div class="feature-stats left">
            <h3 class="feature-name">thisnamecanbe16c</h3>
            <h3 class="feature-cost money">{$20000}</h3>
            <h3 class="feature-fun fun">FUN {400}</h3>
          </div>
        </li>
        <li class="feature">
          <div class="feature-job-affinity left">
            <button class="ability main-ability">
            <div class="stat-icon fa fa-paint-brush"></div>
            <h3 class="ability-name">ART</h3>
            </button>
          </div>
          <div class="feature-stats left">
            <h3 class="feature-name">thisnamecanbe16c</h3>
            <h3 class="feature-cost money">{$20000}</h3>
            <h3 class="feature-fun fun">FUN {400}</h3>
          </div>
        </li>
        <li class="feature">
          <div class="feature-job-affinity left">
            <button class="ability main-ability">
            <div class="stat-icon fa fa-paint-brush"></div>
            <h3 class="ability-name">ART</h3>
            </button>
          </div>
          <div class="feature-stats left">
            <h3 class="feature-name">thisnamecanbe16c</h3>
            <h3 class="feature-cost money">{$20000}</h3>
            <h3 class="feature-fun fun">FUN {400}</h3>
          </div>
        </li>
        <li class="feature">
          <div class="feature-job-affinity left">
            <button class="ability main-ability">
            <div class="stat-icon fa fa-paint-brush"></div>
            <h3 class="ability-name">ART</h3>
            </button>
          </div>
          <div class="feature-stats left">
            <h3 class="feature-name">thisnamecanbe16c</h3>
            <h3 class="feature-cost money">{$20000}</h3>
            <h3 class="feature-fun fun">FUN {400}</h3>
          </div>
        </li>
        <li class="feature">
          <div class="feature-job-affinity left">
            <button class="ability main-ability">
            <div class="stat-icon fa fa-paint-brush"></div>
            <h3 class="ability-name">ART</h3>
            </button>
          </div>
          <div class="feature-stats left">
            <h3 class="feature-name">thisnamecanbe16c</h3>
            <h3 class="feature-cost money">{$20000}</h3>
            <h3 class="feature-fun fun">FUN {400}</h3>
          </div>
        </li>
        <li class="feature">
          <div class="feature-job-affinity left">
            <button class="ability main-ability">
            <div class="stat-icon fa fa-paint-brush"></div>
            <h3 class="ability-name">ART</h3>
            </button>
          </div>
          <div class="feature-stats left">
            <h3 class="feature-name">thisnamecanbe16c</h3>
            <h3 class="feature-cost money">{$20000}</h3>
            <h3 class="feature-fun fun">FUN {400}</h3>
          </div>
        </li>
        <li class="feature">
          <div class="feature-job-affinity left">
            <button class="ability main-ability">
            <div class="stat-icon fa fa-paint-brush"></div>
            <h3 class="ability-name">ART</h3>
            </button>
          </div>
          <div class="feature-stats left">
            <h3 class="feature-name">thisnamecanbe16c</h3>
            <h3 class="feature-cost money">{$20000}</h3>
            <h3 class="feature-fun fun">FUN {400}</h3>
          </div>
        </li>
        <li class="feature">
          <div class="feature-job-affinity left">
            <button class="ability main-ability">
            <div class="stat-icon fa fa-paint-brush"></div>
            <h3 class="ability-name">ART</h3>
            </button>
          </div>
          <div class="feature-stats left">
            <h3 class="feature-name">thisnamecanbe16c</h3>
            <h3 class="feature-cost money">{$20000}</h3>
            <h3 class="feature-fun fun">FUN {400}</h3>
          </div>
        </li>
        <li class="feature">
          <div class="feature-job-affinity left">
            <button class="ability main-ability">
            <div class="stat-icon fa fa-paint-brush"></div>
            <h3 class="ability-name">ART</h3>
            </button>
          </div>
          <div class="feature-stats left">
            <h3 class="feature-name">thisnamecanbe16c</h3>
            <h3 class="feature-cost money">{$20000}</h3>
            <h3 class="feature-fun fun">FUN {400}</h3>
          </div>
        </li>
        <li class="feature">
          <div class="feature-job-affinity left">
            <button class="ability main-ability">
            <div class="stat-icon fa fa-paint-brush"></div>
            <h3 class="ability-name">ART</h3>
            </button>
          </div>
          <div class="feature-stats left">
            <h3 class="feature-name">thisnamecanbe16c</h3>
            <h3 class="feature-cost money">{$20000}</h3>
            <h3 class="feature-fun fun">FUN {400}</h3>
          </div>
        </li>
        <li class="feature">
          <div class="feature-job-affinity left">
            <button class="ability main-ability">
            <div class="stat-icon fa fa-paint-brush"></div>
            <h3 class="ability-name">ART</h3>
            </button>
          </div>
          <div class="feature-stats left">
            <h3 class="feature-name">thisnamecanbe16c</h3>
            <h3 class="feature-cost money">{$20000}</h3>
            <h3 class="feature-fun fun">FUN {400}</h3>
          </div>
        </li>
        <li class="feature">
          <div class="feature-job-affinity left">
            <button class="ability main-ability">
            <div class="stat-icon fa fa-paint-brush"></div>
            <h3 class="ability-name">ART</h3>
            </button>
          </div>
          <div class="feature-stats left">
            <h3 class="feature-name">thisnamecanbe16c</h3>
            <h3 class="feature-cost money">{$20000}</h3>
            <h3 class="feature-fun fun">FUN {400}</h3>
          </div>
        </li>
        <li class="feature">
          <div class="feature-job-affinity left">
            <button class="ability main-ability">
            <div class="stat-icon fa fa-paint-brush"></div>
            <h3 class="ability-name">ART</h3>
            </button>
          </div>
          <div class="feature-stats left">
            <h3 class="feature-name">thisnamecanbe16c</h3>
            <h3 class="feature-cost money">{$20000}</h3>
            <h3 class="feature-fun fun">FUN {400}</h3>
          </div>
        </li>
        <li class="feature">
          <div class="feature-job-affinity left">
            <button class="ability main-ability">
            <div class="stat-icon fa fa-paint-brush"></div>
            <h3 class="ability-name">ART</h3>
            </button>
          </div>
          <div class="feature-stats left">
            <h3 class="feature-name">thisnamecanbe16c</h3>
            <h3 class="feature-cost money">{$20000}</h3>
            <h3 class="feature-fun fun">FUN {400}</h3>
          </div>
        </li>
        <li class="feature">
          <div class="feature-job-affinity left">
            <button class="ability main-ability">
            <div class="stat-icon fa fa-paint-brush"></div>
            <h3 class="ability-name">ART</h3>
            </button>
          </div>
          <div class="feature-stats left">
            <h3 class="feature-name">thisnamecanbe16c</h3>
            <h3 class="feature-cost money">{$20000}</h3>
            <h3 class="feature-fun fun">FUN {400}</h3>
          </div>
        </li>
        <li class="feature">
          <div class="feature-job-affinity left">
            <button class="ability main-ability">
            <div class="stat-icon fa fa-paint-brush"></div>
            <h3 class="ability-name">ART</h3>
            </button>
          </div>
          <div class="feature-stats left">
            <h3 class="feature-name">thisnamecanbe16c</h3>
            <h3 class="feature-cost money">{$20000}</h3>
            <h3 class="feature-fun fun">FUN {400}</h3>
          </div>
        </li> -->
      </ul>
    </div>
  </div>
</div>