<div id="planning-project">
  <div id="header">
    <h1 class="view-title">Project</h1>
    <h1 class="game-title">{{ gameData.game.name }}</h1>
  </div>
  <div id="content">
    <!-- This goes on every screen -->
    <div id="nav">
      <button type="button" class="nav-btn disabled">Project</button>
      <a href="#" ui-sref="planning.team"><button class="nav-btn">Team</button></a>
      <a href="#" ui-sref="planning.sprint"><button type="button" class="nav-btn">Sprint</button></a>
    </div>
    <!-- Schedule -->
    <div id="project-schedule">
      <h2>Schedule</h2>
      <h3 class="left">Start</h3>
      <h3 class="right">Launch!</h3>
      <div class="clearfix"></div>
      <!-- Calendar -->
      <div ng-repeat="month in months" class="schedule-block left">
        <div class="schedule-complete fa fa-5x" ng-class="{ 'fa-times': month.past }"></div>
        <h3>{{ month.name }}</h3>
      </div>
    </div>
    <!-- Buy Sidebar -->
    <div id="sidebar">
      <a href="#" ui-sref="planning.build"><button type="button" class="buy-btn">Build</button></a>
      <h2 class="budget money">${{ gameData.game.getCurrent$$$() }}k</h2>
    </div>
    <!-- Milestones -->
    <div id="milestone-area">
      <div class="milestone-progress">
        <h2>Progress</h2>
        <h2 class="milestone-progress-text"><span class="milestone-progress-points">{{ funTowardGoal }}</span>/<span class="milestone-progress-total">{{ milestoneFunGoal }}</span></h3>
        <div class="stat-bar stat-bar-filled" style="width: {{ funTowardGoal / milestoneFunGoal * 760 }}px"></div>
        <div class="stat-bar stat-bar-container"></div>
      </div>
      <div class="milestone-phase">
        <h2>Milestones</h2>
        <div class="segment"> <h3>Concept</h3> </div>
        <div class="segment"> <h3>Prototype</h3> </div>
        <div class="segment"> <h3>Beta</h3> </div>
        <div class="segment last-child"> <h3>Release</h3> </div>
        <div class="stat-bar stat-bar-filled" style="width: {{ funTotal / funLimit * 760 }}px"></div>
        <div class="stat-bar stat-bar-container"></div>
      </div>
    </div>
  </div>
</div>