<div class="sprint">
	<div class="battlefield">
		<div class="sprint-instructions">Choose an enemy.</div>
		<div class="enemy-sprites">
			<ul>
				<li ng-repeat="enemy in enemies" ng-if="!enemy.empty">
					<div class="sprite-container">
						<i class="fa fa-3x sprite-icon enemy-sprite-{{ $index + 1 }}" ng-class="{ 'fa-caret-down':enemy === selectedEnemy }"></i>
						<div class="enemy-sprite enemy-sprite-{{ $index + 1 }} {{ enemy.getCurrentAniClass() }}" ng-mouseenter="onEnemyHovered( enemy )" ng-click="onEnemyClicked( enemy )"></div>
					</div>
				</li>
			</ul>
		</div>
		<div class="dev-sprites">
			<ul>
				<li ng-repeat="dev in devs" ng-if="!dev.empty">
					<div class="sprite-container">
						<i class="fa fa-3x sprite-icon dev-sprite-{{ $index + 1 }}" ng-class="{ 'fa-caret-down': dev === actionDev }"></i>
						<div class="dev-sprite dev-sprite-{{ $index + 1 }} {{ dev.getCurrentAniClass() }}" ng-mouseenter="onDevHovered( dev )" ng-mouseleave="onDevUnhovered( dev )" ng-click="onDevClicked( dev )"></div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="sprint-controls">
		<div class="enemy-list">
			<h3>NPC</h3>
			<ul>
				<li ng-repeat="enemy in enemies" ng-if="!enemy.empty" ng-mouseenter="onEnemyHovered( enemy )" ng-click="onEnemyClicked( enemy )">
					<div class="enemy-list-icon fa fa-2x left" ng-class="{ 'fa-caret-right': enemy === selectedEnemy }"></div> 
					<div class="enemy-list-item left">{{ enemy.job.name }}</div> 
					<div class="clearfix"></div>
				</li>
			</ul>
		</div>
		<div class="ability-list">
			<h3>ABL</h3>
			<div class="left-arrow left" ng-click="onChangeDevArrowClicked( 'left' )">
				<i class="fa fa-2x fa-caret-left"></i>
			</div>
			<ul class="scrollable left">
				<li ng-repeat="ability in actionDev.abilities" ng-class="{ 'selected': ability === selectedAbility }" ng-mouseenter="onAbilityHovered( ability )" ng-click="onAbilityClicked( ability )">
					<div class="ability-list-icon fa fa-2x left" ng-class="{ 'fa-caret-right': ability === actionAbility }"></div> 
					<div class="ability-list-item left">{{ ability.name }}</div> 
					<div class="clearfix"></div>
				</li>
			</ul>
			<div class="right-arrow right" ng-click="onChangeDevArrowClicked( 'right' )">
				<i class="fa fa-2x fa-caret-right"></i>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="dev-list">
			<h3>PC</h3>
			<ul>
				<li ng-repeat="dev in devs" ng-class="{ 'selected': dev === selectedDev }">
					<div class="dev-list-icon fa fa-2x left" ng-class="{ 'fa-caret-right': dev === actionDev }"></div> 
					<div class="dev-list-item left">TABYROSE</div> 
					<div class="dev-list-hp left"> <span class="dev-list-hp-points">{{ dev.getCurrentHp() }}</span>/<span class="dev-list-hp-total">{{ dev.getMaxHp() }}</span></div>
					<div class="stat-bar stat-bar-filled" style="width: {{ dev.getAtbProgress() / dev.atbMax * 200 }}px"></div>
          <div class="stat-bar stat-bar-container"></div>
          <div class="clearfix"></div>
				</li>
				<!-- <li class="clearfix">
					<div class="dev-list-icon fa fa-2x fa-caret-right left"></div> 
					<div class="dev-list-item left">JEFFROSE</div> 
					<div class="dev-list-hp left"> <span class="dev-list-hp-points">999</span>/<span class="dev-list-hp-total">999</span></div>
					<div class="stat-bar stat-bar-filled"></div>
          <div class="stat-bar stat-bar-container"></div>
				</li>
				<li class="clearfix">
					<div class="dev-list-icon fa fa-2x fa-caret-right left"></div> 
					<div class="dev-list-item left">J ZINGER</div> 
					<div class="dev-list-hp left"> <span class="dev-list-hp-points">999</span>/<span class="dev-list-hp-total">999</span></div>
					<div class="stat-bar stat-bar-filled"></div>
          <div class="stat-bar stat-bar-container"></div>
				</li>
				<li class="clearfix">
					<div class="dev-list-icon fa fa-2x fa-caret-right left"></div> 
					<div class="dev-list-item left">KRIS NEU</div> 
					<div class="dev-list-hp left"> <span class="dev-list-hp-points">999</span>/<span class="dev-list-hp-total">999</span></div>
					<div class="stat-bar stat-bar-filled"></div>
          <div class="stat-bar stat-bar-container"></div>
				</li> -->
				<!-- <li ng-repeat="dev in devs">
					<status model="dev" class="dev-list-item" ng-class="{ 'selected': isDevSelected( enemy ) }" ng-hover="onDevHovered( dev )" ng-click="onDevClicked( dev )">{{ dev.name }}</status> 
				</li> -->
			</ul>
		</div>
	</div>
</div>